.venv
*.pyc
.vscode
.DS_Store

*.tif
*.npy

img/*
!img/.gitkeep
ray/*
!ray/compress.py
!ray/.gitkeep

data/*
!data/raw
!data/tif
!data/blob
data/raw/*
data/tif/*
data/blob/*
!data/raw/sydney
!data/tif/sydney
!data/blob/sydney
data/raw/sydney/*
data/tif/sydney/*
data/blob/sydney/*
!data/raw/sydney/.gitkeep
!data/tif/sydney/.gitkeep
!data/blob/sydney/.gitkeep